<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Left Sidebar Fragment</title>
</head>
<body>
<aside th:fragment="leftSidebar" class="sidebar-fixed">
  <div>
    <h3>내 투자</h3>
    <ul>
      <li>총 자산: 0원</li>
      <li>수익률: 0%</li>
    </ul>
  </div>
  <div>
    <h3>관심</h3>
    <ul>
      <li>삼성전자</li>
      <li>네이버</li>
    </ul>
  </div>
  <div>
    <h3>최근 본</h3>
    <ul>
      <li>카카오</li>
    </ul>
  </div>
</aside>
</body>
</html>